services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: supplychainx_db
      MYSQL_USER: springuser
      MYSQL_PASSWORD: springpass
    ports:
      - "3308:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - supplychainx_network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin_ui
    restart: always
    depends_on:
      - mysql
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "9999:80"
    networks:
      - supplychainx_network

  keycloak:
    container_name: keycloak_supplychainx
    image: quay.io/keycloak/keycloak:25.0.5
    ports:
      - "9090:8081"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: password
    volumes:
      - keycloak_data:/opt/keycloak/data
    command:
      - 'start-dev'

volumes:
  mysql_data:
  keycloak_data:

networks:
  supplychainx_network:
